<div class="container" id="one">
  <div class="">
    <h1>GitHub Search!</h1>

  </div>
  <!-- {{item.fullnam} -->
  <form class="">
    <div class="form-group">
      <input type="textarea" class="form-control" value="" name="searchname" placeholder="Enter your Search Item Here" [(ngModel)]="username">
      <button class="btn btn-info" (click)='userFind()'>Get Profile</button>
    </div>
  </form>
</div>
<div *ngIf="myprofile" class="row">
  <img src="{{myprofile.avatar}}">
  <p>Followers: {{myprofile.followers}}</p>
    <p>Following: {{myprofile.following}}</p><br>
    <a href="{myprofile.html_url}}">{{myprofile.login}}</a>
    <p>Location:{{myprofile.location}}</p>
    <button class="btn" (click)='findRepo()'>Respitories</button>

</div>
